extends ../layouts/common

block content
    .col-sm-6.offset-sm-3.cod-md-6.offset-md-3
        .mt-3.p-5(style='background-color: #290661; border-radius: 10px; color: #ddd;')
            h1.text-center Checkout Completed
            h2.text-center Your payment has been received.